.list-group-item{
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;
}
.list-group-item:last-child{
    border-bottom: none;
}
.list-group-item span{
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    width: 550px;
}
.list-group-item button{
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}
.list-group-item .btn-cookie{
    color: #e09f3e;
}
.list-group-item .btn-trash{
    color: #e84855;
}
.list-group-item-input{
    width: 100px;
}

.list-group-item .fa-star{
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    color: #e09f3e;
    cursor: pointer;
    transform: translateX(30px);
}

.list-group-item .favourite .fa-star{
    color: #e84855;
}